body {
  margin: 0;
}

#root {
  background-color: rgb(238, 134, 22);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

img {
  height: 10rem;
  width: 10rem;
}

h1 {
  color: #f0131e;
}

h2 {
  color: #5925b2;
}
